.loading-screen {
    // spread screen wrapper around whole screen and fix it
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // center loader on the screen both vertically and horizontally
    display: flex;
    align-items: center;
    justify-content: center;

    // different background colors and fallbacks
    background-color: #282c34;
    background-color: #626262;
    background-color: #4a487d;
    background-color: #7d6848;

    // background gradient for effect
    background: rgb(125, 104, 72);
    background: radial-gradient(
        circle,
        rgba(125, 104, 72, 1) 0%,
        rgba(74, 72, 125, 1) 90%
    );

    // use high stacking content
    z-index: 1000;

    // fade away effect with zero opacity and small transition
    &__fade-away {
        opacity: 0;
        transition: 0.6s;
    }
}
